body {
	padding: 0;
	margin: 0;
	display: flex;
	height: 100vh;
	background: darkolivegreen;
	position: relative;
}

.counter {
	position: absolute;
	left: 0;
	top: 0;
}

.positive-quadrant {
	width: 180;
	height: 180;
	position: absolute;
	left: calc(var(--origin-offset-x) * 1px);
	top: calc(var(--origin-offset-y) * 1px);
	border: 1px solid red;
}

.x-axis {
	position: absolute;
	left: calc(var(--origin-offset-x) * 1px - 50%);
	top: calc(var(--origin-offset-y) * 1px);
	width: 100%;
	height: 1px;
	background: black;
}

.y-axis {
	position: absolute;
	left: calc(var(--origin-offset-x) * 1px);
	top: calc(var(--origin-offset-y) * 1px - 50%);
	width: 1px;
	height: 100%;
	background: black;
}

.v1 {
	position: absolute;
	left: calc(var(--v1x) * 1px);
	top: calc(var(--v1y) * 1px);
	width: 10px;
	height: 10px;
	background: red;
}

.arrow {
	margin: 0;
	padding: 0;
	z-index: 2;

	left: 0;
	top:  0;

	position: relative; /* figure out whether making this absolute is a good idea edit: it's not for some reason */

	transform-origin: 0 0;

	will-change: transform;
}

.arw1 {
	background: blue;

	left: 0;
	top:  0;

	transform: rotate(
		calc(
			(
				var(--rad)
			) * 1rad
		)
	);
}

.arw2 {
	background: yellow;

	left: 100%;
	top: 100%;

	transform-origin: 0 0;
	transform: rotate(
		calc(
			( -2 * var(--rad) ) * 1rad
		)
	);
}
