body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	width: 360px;
	height: 360px;
	border: 1px solid red;
}

@property --t {
	syntax: "<integer>";
	initial-value: 0;
	inherits: true
}

@keyframes tick {
	from {
		--t: 0
	}

	to {
		--t: 86400000
	}
}

:root {
	/* number of ms in 24h */
	animation: tick 86400000ms linear infinite;
	--initx1: 180px;
	--inity1: 180px;
	--initx2: 240px;
	--inity2: 240px;
}

.vec {
	position: relative;

	--x1: var(--initx1);
	--y1: var(--inity1);
	--x2: var(--initx2);
	--y2: var(--inity2);

	left: min(
		var(--x1), var(--x2)
	);
	top: min(
		var(--y1), var(--y2)
	);
	width: calc(var(--x2) - var(--x1));
	height:  calc(var(--y2) - var(--y1));

	background: black;
	clip-path: polygon(0px 1px, calc(100% - 1px) 100%, 100% calc(100% - 1px), 1px 0%);
}
